#__next,
.main,
.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div,
.slideItemWrapper,
.slideItem {
  height: 100%;
}

.slideItem {
  position: relative;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  font-size: 1.5em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.slideItem h2 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 3em;
}

.slideBox {
  padding: 30px 50px;
  background-color: black;
  color: white;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.headlineDescriptionWrapper {
  position: absolute;
  bottom: 60px;
  left: 60px;
  min-width: 50%;
}

.timeLocationWrapper {
  position: absolute;
  bottom: 70px;
  right: 10%;
  max-width: 30%;
}

.slideHeadline {
  display: inline-block;
  padding: 20px 50px;
  transform: rotate(-3deg) translateY(15px) translateX(20px);
  max-width: 90%;
  transform-origin: bottom left;
  font-size: 2.5em;
  background-color: white;
  color: black;
  z-index: 5;
}

.slideDesciption {
  max-width: 55%;
}

.slideTime {
  display: inline-block;
  padding: 15px 25px;
}

.slideLocation {
  display: inline-block;
  padding: 15px 25px;
  transform: rotate(3deg) translateX(-15px);
}

@media screen and (max-width: 960px) {
  .slideItem {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {
  .slideItem {
    font-size: 1em;
  }
  .headlineDescriptionWrapper {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 25%;
    bottom: auto;
  }

  .timeLocationWrapper {
    position: relative;
    text-align: right;
    top: 20px;
    bottom: auto;
    right: auto;
    max-width: none;
  }

  .slideHeadline {
    transform: rotate(-3deg) translateY(7px) translateX(20px);
    font-size: 2em;
    padding: 20px 30px;
  }
  .slideDesciption {
    max-width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .slideHeadline {
    font-size: 1.5em;
  }
}
